.form-wrapper{
  background-color: white;
  color: var(--color-gray1);
  border-radius: 30px;
  box-shadow: 0 1px 50px rgba(0, 0, 255, 0.267);
  overflow: hidden;
}

div.form-wrapper .form-wrapper--header{
  background-color: var(--color-gray3);
}

div.form-wrapper .form-wrapper--header .form-wrapper--header-top{
  display: none;
}

.form-wrapper nav{
  display: flex;
  width: 100%;
  justify-content: center;
  /* border-radius: 30px 30px 0 0; */
  color: var(--color-gray2);
}

.form-wrapper .form-wrapper--nav-step{
  flex: 1;
  cursor: pointer;
  position: relative;
}

.form-wrapper--nav-step .currStep-bg{
  background: linear-gradient(-90deg, var(--color-primary), var(--color-secondary));
  width: 150vw;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 100px;
  transform: scale(0);
  opacity: 0;
}

.form-wrapper--nav-step__current .currStep-bg{
  transform: scale(1);
  opacity: 1;
}

.form-wrapper--nav-step:first-child .currStep-bg{
  border-radius: 0 100px 100px 0;
}

.form-wrapper--nav-step:last-child .currStep-bg {
  border-radius: 100px 0 0 100px;
}

.form-wrapper .form-wrapper--nav-step--content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  gap: 20px;
  z-index: 1;
}

.form-wrapper .form-wrapper--nav-step--content .currStep-number{
  width: 25px;
  height: 25px;
  line-height: 0;
  color: white;
  font-weight: 500;
  background-color: var(--color-gray2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper .form-wrapper--nav-step__current .currStep-number,
.form-wrapper .form-wrapper--nav-step__behind .currStep-number{
  background-color: white;
  color: var(--color-secondary);
}

.form-wrapper--nav-step__current .form-wrapper--nav-step--content,.form-wrapper--nav-step__behind .form-wrapper--nav-step--content{
  color: white;
}

@media screen and (max-width: 1000px){
  .form-wrapper .form-wrapper--nav-step--content{
    padding: 15px;
  }
}

@media screen and (max-width: 850px) {
  .form-wrapper{
    border-radius: 20px;
  }
  .form-wrapper .form-wrapper--nav-step--content {
    padding: 10px;
  }
  
  .form-wrapper .form-wrapper--nav-step--content .currStep-number{
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 800px) {
  div.form-wrapper .form-wrapper--header__scrolled{
    background-color: var(--color-gray3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  div.form-wrapper 
  .form-wrapper--header__scrolled 
  .form-wrapper--header-top{
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
  }


    .form-wrapper--header__scrolled .form-wrapper--header-top h1{
      font-size: 15px;
    }
  
  .form-wrapper--header__scrolled
  .form-wrapper--header-top svg{
    font-size: 1.5rem;
  }
  
  .form-wrapper--header__scrolled .form-wrapper--header-top .logo{
    width: 40px;
    height: 40px;
    box-shadow: unset;
  }
  
  .form-wrapper--header__scrolled .form-wrapper--header-top .logo  img{
    width: 30px;
    height: 30px;
  }
  
  div.form-wrapper div.step-wrapper__scrolled{
    padding-top: 100px;
  }
  
  .form-wrapper .form-wrapper--nav-step--content .step-label{
    display: unset;
  }
  
  .form-wrapper .form-wrapper--nav-step {
    flex: 2;
  }

  .form-wrapper .form-wrapper--nav-step__current {
    flex: 1;
  }
  
  .form-wrapper .form-wrapper--nav-step__current .step-label{
    display: none;
  }
}

@media screen and (max-width: 600px) {  
    .form-wrapper .form-wrapper--nav-step {
      flex: 3;
    }
  
    .form-wrapper .form-wrapper--nav-step__current {
      flex: 1;
    }
}

@media screen and (max-width: 560px) {
  .form-wrapper .form-wrapper--nav-step {
    flex: 1;
  }

  .form-wrapper .form-wrapper--nav-step__current {
    flex: 1;
  }
  
  .form-wrapper .form-wrapper--nav-step--content .step-label {
    display: none;
  }
}