footer{
  width: 100%;
}

footer, footer a, footer nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a{
  gap: 15px;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 20px;
}

footer nav{
  gap: 20px;
}

footer svg{
  font-size: 13px;
}

@media screen and (max-width: 750px) {
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0 -20px 50px var(--color-gray3);
  }
}